@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

/* * {
  margin: 0;
  padding: 0;
}

input {
  display: block;
  border: 1px solid black;
}

label {
  display: block;
}

textarea {
  border: 1px solid black;
} */
